<header>
    <p class="text-center text-light">Este sitio está en construcción</p>
</header>
<div class="container-fluid text-center text-light">
    <div class="row">
        <div class="col-md">
            <p class="h4">Bienvenides a</p>
            <p class="h1">Lady Toxic</p>
            <p class="h4">I'm not a barbie, I'm a harlequin</p><br>
            <hr>
            <p class="h2">Este sitio no esta disponible</p><br>
            <p class="h4">porque un momento para ser malvade</p>
            <p class="h4">Juntes descubriremos que la maldad no tiene limites</p>
        </div>
        <!-- <div class="col-md">
            <p class="h4">Es un buen día para ser malvade</p>
            <p class="h4">Juntes podemos descubrir que la maldad no tiene limites</p>
        </div> -->
    </div>
</div>
<app-navbar></app-navbar>