<footer class="text-center text-white">
    <div class="container p-3 pb-0 text-center">
        <section>
          <a class="btn btn-danger btn-floating m-2 bg-gradient"
            href="https://www.instagram.com/lady.toxic4" role="button"><i
              class="bi bi-instagram"></i></a>
          <a class="btn btn-primary btn-floating m-2 bg-gradient" href="https://twitter.com/Almendraromina1"
            role="button"><i class="bi bi-twitter"></i></a>
          <a class="btn btn-primary btn-floating m-2 bg-gradient"
            href="#"
            role="button"><i class="bi bi-telegram"></i></a>
        </section>
      </div>
    <div class="text-center p-2">
        <p class="text-light">Lady Toxic | Desarrolladora Web Full Stack Jr. (2022)</p>
    </div>
</footer>